---
---

@import "minima";

.footer-col-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  
  @media (max-width: 680px) {
    flex-direction: column;
    text-align: center;
  }


}

.p-name {
  font-weight: 500;
}

.social-media-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2vw;
}

.copyright {
  font-family: $base-font-family;
  font-size: $small-font-size;
  color: $grey-color;
  text-align: center;
}

.projects {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  width: 300px;
  height: 300px; 
  border-style: solid;
  border-width: 1px;
  border-color: $grey-color-light;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin: 10px;
}

.card-title {
  color: $brand-color
}

.card-footer {
  font-style: italic;
}

.card > a {
  color: black;
  text-decoration: none;
}