---
layout: default
---

<div class="home">
  

  <!-- {{ content }} -->

  <div class="projects">
    <div class="card"><a href="https://gringotts-defi.vercel.app/">
      <div class="card-title"><h1>Crypto Savings App</h1></div>
      <div class="card-body"><p>An app on the Ethereum testnet that allows users to connect their wallets, deposit and withdrae Ether,
        and receive ERC20 token rewards for deposits.
      </p></div>
      <div class="card-footer">Full Stack</div>
    </a>
    </div>
    <div class="card"><a href="https://twitter.com/cryptonewsb0t">
      <div class="card-title"><h1>Twitter News Bot</h1></div>
      <div class="card-body"><p>A Python bot that tweets news articles about a given tag
        every 30 minutes. Hosted on Heroku.
      </p></div>
      <div class="card-footer">Back End</div>
    </a>
    </div>

  </div>
  

</div>